name: Backend CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore Server.sln
      
    - name: Build solution
      run: dotnet build Server.sln --configuration Release --no-restore
      
    - name: Run tests
      run: dotnet test ServicesTests/ServicesTests.csproj --configuration Release --no-build --verbosity normal
      
    - name: Publish backend
      run: dotnet publish OnlineStore/OnlineStore.csproj -c Release -o out

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend-publish
        path: out

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'online-store-05-11-2025'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./out
